@page
@{
    ViewData["Title"] = "Про нас";
}
<h2>Про банк</h2>
<p>Цей банкомат розробили три програміста. Тарарук Сюзанна, Шкільнюк Валентин та Сліпчук Максим.</p>
<p>Код писався з 5-го червня по 22. Сайт створений 23-го червня.</p>
<p>Банк має на меті забезпечити найкращий сервіс для своїх клієнтів.</p>
<p>Не переживайте, ваші данні надійно зашифровані, тому можете не боятись попасти в шахрайскі лапи)</p>